name: CI for main branch

on:
  push:
    branches: [main]

jobs:
  test-golibs:
    uses: ./.github/workflows/wf-test-all-golibs.yml
    with:
      go-cache: true

  test-otelcolmackerel:
    uses: ./.github/workflows/wf-test-otelcolmackerel.yml
    with:
      go-cache: true

  tagpr:
    uses: ./.github/workflows/wf-tagpr.yml
    secrets: inherit
