name: test otelcol-mackerel distribution

on:
  workflow_call:
    inputs:
      go-cache:
        type: boolean
        default: false

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version-file: go.mod
          cache: ${{ inputs.go-cache }}
      - uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0
      - uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1
      - name: Run OpenTelemetry Collector Builder
        run: |
          go generate .
        working-directory: distributions/otelcol-mackerel
      - name: Run GoReleaser
        run: |
          GORELEASER_CURRENT_TAG=v0.0.0 go tool goreleaser release --snapshot --clean
        working-directory: distributions/otelcol-mackerel
