name: test Go library module

on:
  workflow_call:
    inputs:
      go-cache:
        type: boolean
        default: false
      working-directory:
        type: string
        required: true

jobs:
  lint:
    strategy:
      matrix: &test_golib_matrix
        go-version: [stable, oldstable]
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version: ${{ matrix.go-version }}
          cache: ${{ inputs.go-cache }}
          working-directory: ${{ inputs.working-directory }}
      - uses: golangci/golangci-lint-action@0a35821d5c230e903fcfe077583637dea1b27b47 # v9.0.0
        with:
          args: --timeout=10m
          working-directory: ${{ inputs.working-directory }}

  test:
    strategy:
      matrix: *test_golib_matrix
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version: ${{ matrix.go-version }}
          cache: ${{ inputs.go-cache }}
          working-directory: ${{ inputs.working-directory }}
      - name: Run Go tests
        run: |
          set -o pipefail
          go test ./... -cover -json > ./go-test.out
        working-directory: ${{ inputs.working-directory }}
      - name: Format test result
        if: always()
        run: |
          go tool tparse -all -file ./go-test.out
          go tool tparse -all -file ./go-test.out -format markdown >> "$GITHUB_STEP_SUMMARY"
        working-directory: ${{ inputs.working-directory }}
